.MainPart {
    width: 1440px;
    height: 1093px;
    position: relative;
  }
  
  .Background {
    width: 1440px;
    height: 1093px;
    left: 0px;
    top: 0px;
    position: absolute;
  }
  
  .Mask {
    width: 1440px;
    height: 1093px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #071629;
  }
  
  .Object {
    width: 1448.15px;
    height: 1055px;
    left: -4.08px;
    top: -66px;
    position: absolute;
  }
  
  .Bitmap {
    width: 1448.15px;
    height: 1055px;
    left: 0px;
    top: 0px;
    position: absolute;
  }
  
  .GetSchooled,
  .Smiles,
  .Grin,
  .Laugh {
    position: absolute;
    color: white;
    font-family: Source Sans Pro;
    font-weight: 700;
  }
  
  .Button {
    width: 162px;
    height: 44px;
    left: 639px;
    top: 419px;
    position: absolute;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.50);
  }
  
  .ButtonBackground {
    width: 162px;
    height: 44px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #C271FF;
    border-radius: 22px;
  }
  
  .RegisterForFree {
    position: absolute;
    color: white;
    font-family: Source Sans Pro;
    font-weight: 600;
  }
  
  .LearnFromThePros {
        left: 377px;
        top: 220px;
        position: absolute;
        text-align: center;
        color: white;
        font-size: 120px;
        font-family: Source Sans Pro;
        font-weight: 700;
        word-wrap: break-word;
  }
  
  .Pros {
    width: 1009px;
    height: 237px;
    left: 217px;
    top: 758px;
    position: absolute;
  }
  
  .Pro4,
  .Pro3,
  .Pro2,
  .Pro1 {
    width: 150px;
    height: 237px;
    position: absolute;
  }
  
  .Avatar {
    width: 150px;
    height: 150px;
    left: 0px;
    top: 0px;
    position: absolute;
  }
  
  .Mask {
    width: 150px;
    height: 150px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: white;
  }
  