.MainPart {
    width: 1440px;
    height: 1093px;
    position: relative;
  }

  .MainPart .Header {
    width: 1103.41px;
    height: 29.46px;
    position: relative;
  }

  .MainPart .Header .Menu{
    width: 234px;
    height: 15px;
    left: 869.41px;
    top: 1.98px;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    gap: 52px;
    display: inline-flex;
  }

  .Mainpart .Header .Logo{
    width: 167.016px;
    height: 29.461px;
    flex-shrink: 0;
  }

  .Mainpart .Background {
    width: 1440px;
    height: 1093px;
    left: 0px;
    top: 0px;
    position: absolute;
  }
  
  .Mainpart .Background .Mask {
    width: 1440px;
    height: 1093px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #071629;
  }
  
  .Object {
    width: 1448.15px;
    height: 1055px;
    left: -4.08px;
    top: -66px;
    position: absolute;
  }
  
  .Mainpart .Background .Bitmap {
    width: 1448.15px;
    height: 1055px;
    left: 0px;
    top: 0px;
    position: absolute;
  }
  
  .Mainpart .GetSchooled {
    color: #FFF;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .Smiles, .Grin, .Laugh {
  position: absolute;
  color: white;
  font-family: Source Sans Pro;
  font-weight: 700;
  }
  
  .Mainpart .Header .Button {
    width: 162px;
    height: 44px;
    left: 639px;
    top: 419px;
    position: absolute;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.50);
  }
  
  .ButtonBackground {
    width: 162px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 22px;
    background: #C271FF;
  }
  
  .Mainpart .RegisterForFree {
    color: #FFF;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .Mainpart .Header .LearnFromThePros {
    left: 377px;
    top: 220px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 120px;
    font-family: Source Sans Pro;
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .Pros {
    width: 1009px;
    height: 237px;
    flex-shrink: 0;;
  }
  
  .Pro4,
  .Pro3,
  .Pro2,
  .Pro1 {
    width: 150px;
  height: 150px;
  flex-shrink: 0;
  }
  
  .Avatar {
    width: 150px;
    height: 150px;
    left: 0px;
    top: 0px;
    position: absolute;
  }
  
  